<header class="main-header">
  <!-- Logo -->
  <a href="#/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>W</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Panda</b> WEB</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Mudar navegação</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a class="dropdown-toggle" data-toggle="dropdown" style="padding:18px;">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning" ng-show="notifications.count">{{notifications.count}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Você tem {{notifications.count}} notificações</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <li ng-repeat="notify in notifications.items | orderBy:'-dateTime'"><!-- start notification -->
                  <a title="{{notify.description}}">
                    <i class="fa" ng-class="notify.icon"></i> {{notify.dateTime | date:"HH:mm"}} - {{notify.title}}
                    <br><small>{{notify.message}}</small>
                  </a>
                </li>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer"><a href="#/notifications">Ver todas</a></li>
          </ul>
        </li>

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="img/user2-160x160.jpg" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs user_name">{{currentUser.name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                <span class="user_name">{{currentUser.name}}</span><br>
                <small class="user_email">{{currentUser.email}}</small>
              </p>

            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#/people/{{currentUser.id}}/edit" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="#/logout" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>