<section class="content-header">
  <h1>
    <i class="fa fa-user" /> Pessoa
    <small>Editar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" class="menu_action" id="dashboard"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Editar</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pessoa</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->